{% extends "base.html" %}

{% block title %}Home - Service Sathi{% endblock %}

{% block content %}


<form method="GET" action="{{ url_for('home') }}" class="search-form">

    <input type="text"
           name="search"
           placeholder="Search categories..."
           value="{{ search_query if search_query else '' }}">

    <button type="submit" class="view-btn">Search</button>

</form>
<h1 class="page-heading">Service Categories</h1>
<div class="category-grid">

    {% for category in categories %}

    <div class="category-card">

    <img src="{{ url_for('static', filename='images/' + category[0]|lower + '.jpg') }}" class="category-img">

    <h3>{{ category[0] }}</h3>

    <p>{{ category[1] }}</p>

    <a href="{{ url_for('view_category', cat_id=category[2]) }}" class="view-btn">
        View Providers
    </a>

</div>

    {% endfor %}

</div>

{% endblock %}