USE [ServiceSathidb]
GO
/****** Object:  StoredProcedure [dbo].[AddService]    Script Date: 20/03/2026 2:36:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddService]
    @seller_id INT,
    @category_id INT,
    @price DECIMAL(10,2),
    @experience INT,
    @description TEXT
AS
BEGIN
    INSERT INTO Services (seller_id, category_id, price_per_hour, experience_years, description, is_active)
    VALUES (@seller_id, @category_id, @price, @experience, @description, 1)
END

GO
/****** Object:  StoredProcedure [dbo].[LoginUser]    Script Date: 20/03/2026 2:36:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--login
CREATE PROCEDURE [dbo].[LoginUser]
    @role VARCHAR(10),
    @identifier VARCHAR(100)
AS
BEGIN
    IF @role = 'admin'
        SELECT admin_id AS id, name, password FROM Admins WHERE email = @identifier
    ELSE IF @role = 'seller'
        SELECT seller_id AS id, name, password FROM Sellers WHERE username = @identifier
    ELSE
        SELECT user_id AS id, name, password FROM Users WHERE username = @identifier
END
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 20/03/2026 2:36:23 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterUser]
    @role VARCHAR(10),
    @username VARCHAR(50),
    @name VARCHAR(100),
    @email VARCHAR(100),
    @password VARCHAR(255),
    @phone VARCHAR(20),
    @cnic CHAR(13),
    @dob DATE,
    @address TEXT,
    @bio TEXT = NULL
AS
BEGIN
    IF @role = 'seller'
        INSERT INTO Sellers (username, name, email, password, phone, cnic, dob, address, bio)
        VALUES (@username, @name, @email, @password, @phone, @cnic, @dob, @address, @bio)
    ELSE
        INSERT INTO Users (username, name, email, password, phone, cnic, dob, address)
        VALUES (@username, @name, @email, @password, @phone, @cnic, @dob, @address)
END
GO
