USE [ServiceSathidb]
GO
/****** Object:  Table [dbo].[Sellers]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sellers](
	[seller_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[cnic] [char](13) NOT NULL,
	[dob] [date] NOT NULL,
	[address] [text] NOT NULL,
	[bio] [text] NULL,
	[profile_picture] [varchar](255) NULL,
	[average_rating] [decimal](2, 1) NULL,
	[is_available] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[seller_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cnic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[seller_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[price_per_hour] [decimal](10, 2) NOT NULL,
	[experience_years] [int] NULL,
	[description] [text] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Seller_Category] UNIQUE NONCLUSTERED 
(
	[seller_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Category_Providers]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Category_Providers] 
AS
SELECT 
    sv.category_id,
    s.name,
    sv.description,
    s.average_rating,
    sv.price_per_hour,
    sv.experience_years,
    s.seller_id,
    s.profile_picture
FROM Sellers s
JOIN Services sv ON s.seller_id = sv.seller_id
WHERE sv.is_active = 1;
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](50) NOT NULL,
	[base_description] [text] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[booking_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[job_address] [text] NOT NULL,
	[total_hours]  AS (datediff(hour,[start_time],[end_time])) PERSISTED,
	[is_paid] [bit] NULL,
	[instructions] [text] NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_User_Bookings]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_User_Bookings] AS
SELECT 
    b.user_id,
    s.name AS seller_name,
    c.category_name,
    b.booking_date,
    b.start_time,
    b.end_time,
    b.status
FROM Bookings b
JOIN Services sv ON b.service_id = sv.service_id
JOIN Sellers s ON sv.seller_id = s.seller_id
JOIN Categories c ON sv.category_id = c.category_id;
GO
/****** Object:  Table [dbo].[Users]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[cnic] [char](13) NOT NULL,
	[dob] [date] NOT NULL,
	[address] [text] NOT NULL,
	[profile_picture] [varchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cnic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Seller_Bookings]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_Seller_Bookings] AS
SELECT 
    sv.seller_id,
    u.name AS user_name,
    c.category_name,
    b.booking_date,
    b.start_time,
    b.end_time,
    b.status
FROM Bookings b
JOIN Users u ON b.user_id = u.user_id
JOIN Services sv ON b.service_id = sv.service_id
JOIN Categories c ON sv.category_id = c.category_id;
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[seller_id] [int] NULL,
	[message] [text] NOT NULL,
	[type] [varchar](50) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[booking_id] [int] NOT NULL,
	[rating] [int] NULL,
	[comment] [text] NULL,
	[review_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admins] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [review_date]
GO
ALTER TABLE [dbo].[Sellers] ADD  DEFAULT ((0.0)) FOR [average_rating]
GO
ALTER TABLE [dbo].[Sellers] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[Sellers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([service_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([seller_id])
REFERENCES [dbo].[Sellers] ([seller_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD FOREIGN KEY([booking_id])
REFERENCES [dbo].[Bookings] ([booking_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD FOREIGN KEY([seller_id])
REFERENCES [dbo].[Sellers] ([seller_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CHK_Booking_Date_Future] CHECK  (([booking_date]>=CONVERT([date],getdate())))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CHK_Booking_Date_Future]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CHK_Booking_Hours] CHECK  ((datepart(hour,[start_time])>=(6) AND datepart(hour,[start_time])<=(22) AND (datepart(hour,[end_time])>=(7) AND datepart(hour,[end_time])<=(23))))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CHK_Booking_Hours]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [CHK_Time_Valid] CHECK  (([end_time]>[start_time]))
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [CHK_Time_Valid]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='completed' OR [status]='rejected' OR [status]='accepted' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([type]='system' OR [type]='promotion' OR [type]='reminder' OR [type]='payment' OR [type]='booking'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([user_id] IS NOT NULL AND [seller_id] IS NULL OR [user_id] IS NULL AND [seller_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD  CONSTRAINT [CHK_Seller_Age] CHECK  ((datediff(year,[dob],getdate())>=(18)))
GO
ALTER TABLE [dbo].[Sellers] CHECK CONSTRAINT [CHK_Seller_Age]
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD  CONSTRAINT [CHK_Seller_CNIC] CHECK  (([cnic] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Sellers] CHECK CONSTRAINT [CHK_Seller_CNIC]
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD  CONSTRAINT [CHK_Seller_Email_Format] CHECK  (([email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[Sellers] CHECK CONSTRAINT [CHK_Seller_Email_Format]
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD  CONSTRAINT [CHK_Seller_Password_Length] CHECK  ((len([password])>=(8)))
GO
ALTER TABLE [dbo].[Sellers] CHECK CONSTRAINT [CHK_Seller_Password_Length]
GO
ALTER TABLE [dbo].[Sellers]  WITH CHECK ADD  CONSTRAINT [CHK_Seller_Phone] CHECK  (([phone] like '03[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Sellers] CHECK CONSTRAINT [CHK_Seller_Phone]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [CHK_Experience_Valid] CHECK  (([experience_years]>=(0)))
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [CHK_Experience_Valid]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [CHK_Price_Positive] CHECK  (([price_per_hour]>(0)))
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [CHK_Price_Positive]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_User_Age] CHECK  ((datediff(year,[dob],getdate())>=(18)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_User_Age]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_User_CNIC] CHECK  (([cnic] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_User_CNIC]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_User_Email_Format] CHECK  (([email] like '%_@__%.__%'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_User_Email_Format]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_User_Password_Length] CHECK  ((len([password])>=(8)))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_User_Password_Length]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CHK_User_Phone] CHECK  (([phone] like '03[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CHK_User_Phone]
GO
/****** Object:  StoredProcedure [dbo].[AddService]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddService]
    @seller_id INT,
    @category_id INT,
    @price DECIMAL(10,2),
    @experience INT,
    @description TEXT
AS
BEGIN
    INSERT INTO Services (seller_id, category_id, price_per_hour, experience_years, description, is_active)
    VALUES (@seller_id, @category_id, @price, @experience, @description, 1)
END

GO
/****** Object:  StoredProcedure [dbo].[LoginUser]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--login
CREATE PROCEDURE [dbo].[LoginUser]
    @role VARCHAR(10),
    @identifier VARCHAR(100)
AS
BEGIN
    IF @role = 'admin'
        SELECT admin_id AS id, name, password FROM Admins WHERE email = @identifier
    ELSE IF @role = 'seller'
        SELECT seller_id AS id, name, password FROM Sellers WHERE username = @identifier
    ELSE
        SELECT user_id AS id, name, password FROM Users WHERE username = @identifier
END
GO
/****** Object:  StoredProcedure [dbo].[RegisterUser]    Script Date: 19/03/2026 7:49:30 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterUser]
    @role VARCHAR(10),
    @username VARCHAR(50),
    @name VARCHAR(100),
    @email VARCHAR(100),
    @password VARCHAR(255),
    @phone VARCHAR(20),
    @cnic CHAR(13),
    @dob DATE,
    @address TEXT,
    @bio TEXT = NULL
AS
BEGIN
    IF @role = 'seller'
        INSERT INTO Sellers (username, name, email, password, phone, cnic, dob, address, bio)
        VALUES (@username, @name, @email, @password, @phone, @cnic, @dob, @address, @bio)
    ELSE
        INSERT INTO Users (username, name, email, password, phone, cnic, dob, address)
        VALUES (@username, @name, @email, @password, @phone, @cnic, @dob, @address)
END
GO
