USE [ServiceSathidb]
GO
/****** Object:  View [dbo].[View_Category_Providers]    Script Date: 15/04/2026 8:36:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Category_Providers] 
AS
SELECT 
    sv.category_id,
    s.name,
    sv.description,
    s.average_rating,
    sv.price_per_hour,
    sv.experience_years,
    s.seller_id,
    s.profile_picture
FROM Sellers s
JOIN Services sv ON s.seller_id = sv.seller_id
WHERE sv.is_active = 1;
GO
/****** Object:  View [dbo].[View_Seller_Bookings]    Script Date: 15/04/2026 8:36:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Fix for Sellers
CREATE VIEW [dbo].[View_Seller_Bookings] AS
SELECT 
    sv.seller_id,      -- Index 0
    u.name AS name,     -- Index 1
    c.category_name,    -- Index 2
    b.booking_date,     -- Index 3
    b.start_time,       -- Index 4
    b.end_time,         -- Index 5
    b.status,           -- Index 6
    b.instructions,     -- Index 7
    b.booking_id,       -- Index 8
    b.job_address,      -- Index 9 (NEW)
    (DATEDIFF(HOUR, b.start_time, b.end_time) * sv.price_per_hour) AS total_payment -- Index 10 (NEW)
FROM Bookings b
JOIN Users u ON b.user_id = u.user_id
JOIN Services sv ON b.service_id = sv.service_id
JOIN Categories c ON sv.category_id = c.category_id;
GO
/****** Object:  View [dbo].[View_User_Bookings]    Script Date: 15/04/2026 8:36:53 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Fix for Users
CREATE VIEW [dbo].[View_User_Bookings] AS
SELECT 
    b.user_id,          -- Index 0
    s.name AS name,     -- Index 1
    c.category_name,    -- Index 2
    b.booking_date,     -- Index 3
    b.start_time,       -- Index 4
    b.end_time,         -- Index 5
    b.status,           -- Index 6
    b.instructions,     -- Index 7
    b.booking_id,       -- Index 8
    b.job_address,      -- Index 9 (NEW)
    (DATEDIFF(HOUR, b.start_time, b.end_time) * sv.price_per_hour) AS total_payment -- Index 10 (NEW)
FROM Bookings b
JOIN Services sv ON b.service_id = sv.service_id
JOIN Sellers s ON sv.seller_id = s.seller_id
JOIN Categories c ON sv.category_id = c.category_id;
GO
